{% extends 'base.html' %}
{% block container %}
<div class="row row-offcanvas row-offcanvas-right">
        <div class="col-xs-12 col-sm-9">
          <p class="pull-right visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
          </p>
          <div class="jumbotron">
            <h1>ReNette WebService</h1>
            <p>This is a web-interface for network analysis. It supports inference methods, quantitative network distance and network stability analysis.</p>
          </div>
          <div class="row">
            <div class="col-6 col-sm-6 col-lg-4">
              <h2>Networt Inference</h2>
              <p>The network inference process allows the user to compute his own network starting from row data. A set of 10 methods based on simple correlation, mutual infromation and non-linear correlation are available to the user. </p>
              <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
            </div><!--/span-->
            <div class="col-6 col-sm-6 col-lg-4">
              <h2>Network Distance</h2>
              <p>A quantitative analysis of differences between networks. At this time 3 methods are available, one based on an edit distance, another based on a spectral distance and a product metric combining contributions from edit and spectral distances. </p>
              <p><a class="btn btn-default" href="{% url 'network_distance' %}" role="button">View details &raquo;</a></p>
            </div><!--/span-->
            <div class="col-6 col-sm-6 col-lg-4">
              <h2>Network Stability</h2>
              <p> The process compute the network stability indicators given the inference method and the network distance choosen. The method is based on perturbation introduced in the data from a resampling procedure.</p>
              <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
            </div><!--/span-->
            <!-- <div class="col-6 col-sm-6 col-lg-4"> -->
            <!--   <h2>Heading</h2> -->
            <!--   <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p> -->
            <!--   <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p> -->
            <!-- </div><\!--/span-\-> -->
            <!-- <div class="col-6 col-sm-6 col-lg-4"> -->
            <!--   <h2>Heading</h2> -->
            <!--   <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p> -->
            <!--   <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p> -->
            <!-- </div><\!--/span-\-> -->
            <!-- <div class="col-6 col-sm-6 col-lg-4"> -->
            <!--   <h2>Heading</h2> -->
            <!--   <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p> -->
            <!--   <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p> -->
            <!-- </div><\!--/span-\-> -->
          </div><!--/row-->
        </div><!--/span-->
        {% include "navigation.html" %}
      </div><!--/row-->
{% endblock container %}
