{% extends 'base.html' %}
{% load static %}
{% block extrahead %}
    <link rel="stylesheet" href="{% static 'js/jquery-ui/jquery-ui.css' %}">
    <script src="{% static 'js/jquery-ui/jquery-ui.js' %}"></script>
{% endblock %}
{% block container %}
<script type="application/javascript" src="{% static 'js/sigma.js' %}"></script>
<script type="application/javascript" src="{% static 'js/sigma.parseJson.js' %}"></script>
<script>
  $(function() {
    $( "#slider" ).slider({
      value:1,
      min: 0,
      max: 1,
      step: 0.01,
      slide: function( event, ui ) {
        $( "#amount" ).val( ui.value );
        sigInst.iterEdges(function(n){
            if(n.size <= ui.value){
                n.hidden = 0;
            } else {
                n.hidden = 1;
            }
        }).draw();
      }
    });
    $( "#amount" ).val($( "#slider" ).slider( "value" ) );
  });
</script>
<script type="application/javascript">
jQuery(document).ready(function(){
  sigma.publicPrototype.myCircularLayout = function() {
    var R = 100,
        i = 0,
        L = this.getNodesCount();

    this.iterNodes(function(n){
      n.x = Math.cos(Math.PI*(i++)/L)*R;
      n.y = Math.sin(Math.PI*(i++)/L)*R;
    });

    return this.position(0,0,1).draw();
  };

// Instanciate sigma.js and customize rendering :
  sigInst = sigma.init(document.getElementById('sigma')).drawingProperties({
    defaultLabelColor: '#000',
    defaultLabelSize: 14,
    defaultLabelBGColor: '#fff',
    defaultLabelHoverColor: '#000',
    labelThreshold: 6,
    defaultEdgeType: 'curve',

{#    defaultEdgeColor: '#a1d99b',#}
{#    edgeColor: 'default'#}
  }).graphProperties({
    minNodeSize: 0.2,
    maxNodeSize: 8,
    minEdgeSize: 1,
    maxEdgeSize: 5,
    sideMargin: 50
  }).mouseProperties({
    maxRatio: 32
  });

  // Parse a GEXF encoded file to fill the graph
  // (requires "sigma.parseGexf.js" to be included)
  sigInst.parseJson('{% get_media_prefix %}{{ url }}');

  // Draw the graph :
  sigInst.draw();

  /**
   * Now, here is the code that shows the popup :
   */
    (function(){
    var popUp;

    // This function is used to generate the attributes list from the node attributes.
    // Since the graph comes from GEXF, the attibutes look like:
    // [
    //   { attr: 'Lorem', val: '42' },
    //   { attr: 'Ipsum', val: 'dolores' },
    //   ...
    //   { attr: 'Sit',   val: 'amet' }
    // ]
    function attributesToString(attr) {
      return '' +
        attr.map(function(o){
          return '' + o.size;
        }).join('') +
        '';
    }

    function showNodeInfo(event) {
      popUp && popUp.remove();

      var node;
      sigInst.iterNodes(function(n){
        node = n;
      },[event.content[0]]);

      popUp = $(
        ''
      ).append(
        // The GEXF parser stores all the attributes in an array named
        // 'attributes'. And since sigma.js does not recognize the key
        // 'attributes' (unlike the keys 'label', 'color', 'size' etc),
        // it stores it in the node 'attr' object :
{#        attributesToString( node['attr']['attributes'] )#}
      ).attr(
        'id',
        'node-info'+sigInst.getID()
      ).css({
        'display': 'inline-block',
        'border-radius': 3,
        'padding': 5,
        'background': '#fff',
        'color': '#000',
        'box-shadow': '0 0 4px #666',
        'position': 'absolute',
        'left': node.displayX,
        'top': node.displayY+15
      });

      $('ul',popUp).css('margin','0 0 0 20px');

      $('#sigma-example').append(popUp);
    }

    function hideNodeInfo(event) {
      popUp && popUp.remove();
      popUp = false;
    }

    sigInst.bind('overnodes',showNodeInfo).bind('outnodes',hideNodeInfo).draw();
  })();

});
</script>
<style type="text/css">
  /* sigma.js context : */
  .sigma-parent {
    position: relative;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
{#    background: #222;#}
    height: 600px;
  }
  .sigma-expand {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  .buttons-container{
    padding-bottom: 8px;
    padding-top: 12px;
  }
</style>
<div class="span12" >
    <h1>{{ runp.process_name }} preview </h1>

</div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">#{{ idx }}. {{ key }}</h3>
        </div>
        <div class="panel-heading">
            <label for="amount">Selected threshold:</label>
            <input type="text" id="amount" style="border:0;">
            <div id="slider"></div>
        </div>
        <div class="panel-body">
             <div class="span12 sigma-parent" id="sigma-example-parent">
               <div class="sigma-expand" id="sigma"></div>
            </div>
        </div>
    </div>
{% endblock %}