{% extends 'base.html' %}
{% load static %}
{% load engine_tags %}

{% block extrahead %}
<script>
    $(document).ready(function() {
        $(".delete_button").click(function() {
            if (confirm('Do you relly want to stop this job?')){
                var id = $(this).attr('id');
                $.ajax({
                    type: "POST",
                    url: "{% url 'revoke_job' %}",
                    data: { taskid: id,
                            csrfmiddlewaretoken: "{{ csrf_token }}" },
                    success: function(response){
                        if (response.success) {
                            location.reload(true)
                        } else {
                            alert('Could not stop the job!');
                        }
                    }
                });
                return false;
            } else { return false }
        });
    });
</script>
{% endblock extrahead %}

{% block container %}
<div class="row row-offcanvas row-offcanvas-right">

<div class="col-md-12 col-md-9">
          <div class="row">
            <h1>My process list</h1>
            <div class="col-6">
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <p {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
            </div>
            {% endfor %}
            {% endif %}
            <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title">Run process (this session)</h3>
                  </div>
                  <div class="panel-body">
	              A summary of all the submitted process.
                  </div>
                  <table class="table">
                      <thead>
                          <tr>
                              <th>#</th>
                              <th>UUID</th>
                              <th>Type</th>
                              <th>Status</th>
                              <th>Action</th>
                              <th>Revoke Job</th>
                          </tr>
                      </thead>
                      {% if runp %}
                          {% for r in runp %}
                          <tr>
                              <td>{{ r.pk }}</td>
                              <td>
                                  <p>{{ r.task_id }}</p>
                                  <p>{{ r.submited }}</p>
                              </td>
                              <td>{{ r.process_name }}</td>
                              <td>{{ r.badge_status|safe }}</td>
                              <td>
                                  {% if r.result_is_sucess %}
                                  <a  href="{% url 'process_download_zip' r.pk %}" class="btn btn-primary btn-xs" role="button">
                                    Download all files
                                  </a>
                                  {% endif %}
                                  <a href="{% url r.process_name|match_url r.task_id %}" target="_blank" class="btn btn-info btn-xs" role="button">
                                  View details
                                  </a>
                              </td>
                              <td style="text-align: center">
                                  {% if r.celery_task.status == "RUNNING"  or r.celery_task.status == "PENDING" %}
                                  <a href="#" id="{{ r.pk }}" class="delete_button">
                                  <span class="glyphicon glyphicon-remove-circle" style="color: red"></span>
                                  </a>
                                  {% endif %}
                              </td>
                          </tr>
                          {% endfor %}
                      {% else %}
                          <tr>
                            <td colspan="5">No process available.</td>
                          </tr>
                      {% endif %}
                  </table>
                </div>
           </div><!--/span-->
          </div><!--/row-->
        </div><!--/span-->
        {% include "navigation.html" %}

</div>
{% endblock container %}



