{% extends 'base.html' %}
{% load static %}
{% block extrahead %}

{% endblock %}
{% block container %}
<div class="row row-offcanvas row-offcanvas-right">
        <div class="col-md-12 col-md-9">


          <div class="row">
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                 <p {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
            </div>
            {% endfor %}
            {% endif %}
            <h1>Network Inference [Step 3/3]</h1>
            <div class="col-6">
               <h3>Processed Files</h3>

                <table class="table table-striped table-hover">
                    <thead>
                      <tr>
                        <th>Filename Path</th>
                      </tr>
                    </thead>
                    {% for f in files %}
                        <tr><td>{{f}}</td></tr>
                    {% endfor %}
                </table>

                <div class="well well-sm">
                    <p>Adjacence Method: <strong>{{ request.POST.methods }}</strong></p>
                    <p>P: <strong>{% if request.POST.p %}{{ request.POST.p }}{% else %}Not selected{% endif %}</strong></p>
                    <p>FDR: <strong>{% if request.POST.fdr %}{{ request.POST.fdr }}{% else %}Not selected{% endif %}</strong></p>
                    <p>alpha: <strong>{% if request.POST.alpha %}{{ request.POST.alpha }}{% else %}Not selected{% endif %}</strong></p>
                    <p>c: <strong>{% if request.POST.c %}{{ request.POST.c }}{% else %}Not selected{% endif %}</strong></p>
                    <p>measure: <strong>{% if request.POST.measure %}{{ request.POST.measure }}{% else %}Not selected{% endif %}</strong></p></p>
                </div>
                <p>Estimated completion time: <span class="label label-info">3 hour and 34 minutes.</span>
                    Don't forget your unique process id is <span class="label label-info">{{ uuid }}</span>.
                    The page will automatically redirect to the status page, or you can visit this
                    <a href="{% url 'process_status' uuid %}">address</a></p>
            </div><!--/span-->


          </div><!--/row-->
        </div><!--/span-->
        {% include "navigation.html" %}
      </div><!--/row-->
{% endblock container %}



