{% extends 'base.html' %}
{% load static %}
{% block extrahead %}
    <script type="application/javascript">
    jQuery(document).ready(function(){
        setTimeout(function () {
           window.location.href = "{% url 'network_stability_4' uuid %}"; //will redirect to your blog page (an ex: blog.html)
        }, 20000);
    });
    </script>
{% endblock %}
{% block container %}
<div class="row row-offcanvas row-offcanvas-right">
        <div class="col-md-12 col-md-9">


          <div class="row">
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                 <p {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
            </div>
            {% endfor %}
            {% endif %}
            <h1>Network Stability [Step 3/3]</h1>
            <div class="col-6">
               {% if task %}
               <h3>Summary</h3>
               <div><span class="label label-info">Info</span> The page will automatically redirect in 20 seconds to show status of your pipeline.
               If you don't want to wait online, please <strong>copy and keep the following link</strong> to retrieve your result later:
                   <code>https://renette.fbk.eu{% url 'network_stability_4' uuid %}</code>
               </div>
               <div>
                <span class="label label-warning">Warning</span> Your results will be available for 7 days!
               </div><p></p>
               <p>
                   <a href="{% url 'network_stability_4' uuid %}" role="button" type="button" class="btn btn-info btn-lg btn-block">Go to status page</a>
               </p>
                <table class="table table-striped table-hover">
                    <thead>
                      <tr>
                        <th>Filename Path</th>
                      </tr>
                    </thead>
                    {% for f in files %}
                        <tr><td>{{f}}</td></tr>
                    {% endfor %}
                </table>

                <div class="well well-sm">
                    <p>Distance Method: <strong>{{ request.POST.distance }}</strong></p>

                    <p>ga: <strong>{% if request.POST.ga %}{{ request.POST.ga }}{% else %}Not selected{% endif %}</strong></p>
                    <p>rho: <strong>{% if request.POST.rho %}{{ request.POST.rho }}{% else %}Not selected{% endif %}</strong></p>
                    <p>components: <strong>{% if request.POST.components %}{{ request.POST.components }}{% else %}Not selected{% endif %}</strong></p></p>
                </div>

                {% endif %}
            </div><!--/span-->


          </div><!--/row-->
        </div><!--/span-->
        {% include "navigation.html" %}
      </div><!--/row-->
{% endblock container %}



