{% extends 'base.html' %}
{% load static %}
{% block container %}
<div class="row row-offcanvas row-offcanvas-right">
        <div class="col-md-12 col-md-9">


          <div class="row">

            <div class="col-6">
               <h2>Posted Files</h2>

                <ul>
                    {% for f in posted_files %}
                        <li>{{f}}</li>
                    {% endfor %}
                </ul>
              <h2>Uploaded Files</h2>

                <ul>
                    {% for f in uploaded_files %}
                        <li>{{f.name}} - {{f.type}} - {{ f.prop }}</li>
                    {% endfor %}
                </ul>
            </div><!--/span-->


          </div><!--/row-->
        </div><!--/span-->
        {% include "navigation.html" %}
      </div><!--/row-->
{% endblock container %}



