{% extends 'base.html' %}
{% load static %}
{% block extrahead %}
    <script type="text/javascript">

       jQuery(document).ready(function(){
           $("#load-example").click(function(){
               $("#files").find('p').remove();
               $("#uploaded-files").find('input').remove();
               $('<p/>').text('microbiome_Actinobacteria_0.0-diet_adj.csv [728.4 kB]').appendTo('#files');
               $('<p/>').text('microbiome_Actinobacteria_1.0-diet_adj.csv [728.6 kB]').appendTo('#files');
                $('#uploaded-files').append('<input type="hidden" name="uploaded" value="example/microbiome_Actinobacteria_0.0-diet_adj.csv">');
                $('#uploaded-files').append('<input type="hidden" name="uploaded" value="example/microbiome_Actinobacteria_1.0-diet_adj.csv">');
               $('input[name=exclude_col_header]').attr('checked', true)
               $('input[name=exclude_row_header]').attr('checked', true)
               $('#progress .progress-bar').css(
                        'width',
                        100 + '%'
                    );
                $('#btn-go').removeAttr('disabled')
                $('#reset_form').removeAttr('disabled')
            });

        });
    </script>
{% endblock %}
{% block container %}
<div class="row row-offcanvas row-offcanvas-right">

        <div class="col-md-12 col-md-9">
          <div class="row">
            <h1>Network Distance [Step 1/3]</h1>
            <div class="col-6">
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <p {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
            </div>
            {% endfor %}
            {% endif %}
              <h3>Load your files</h3>
              {% include 'engine/file_upload.html' %}

            </div><!--/span-->
            <hr>
            <div class="col-6">
              <h3>Run tasks with Example Data</h3>
              <form role="form" class="form-horizontal" action="#">
                  <div class="form-group">
                    <label for="exampleInputEmail1"></label>
                    <div class="col-sm-9">
                    <table class="table table-striped table-hover">
                    <thead>
                      <tr>
                        <th>Filename</th>
                        <th>Type</th>
                        <th># Rows</th>
                        <th># Cols</th>
                        <th>Separator</th>
                      </tr>
                    </thead>
                        <tbody><tr>
                            <td><a href="{% get_media_prefix %}example/microbiome_Actinobacteria_0.0-diet_adj.csv">microbiome_Actinobacteria_0.0-diet_adj.csv</a></td>
                            <td>text/plain</td>
                            <td>187</td>
                            <td>187</td>
                            <td>
                                    TAB
                            </td>
                        </tr>
                        <tr>
                            <td><a href="{% get_media_prefix %}example/microbiome_Actinobacteria_1.0-diet_adj.csv">microbiome_Actinobacteria_1.0-diet_adj.csv</a></td>
                            <td>text/plain</td>
                            <td>187</td>
                            <td>187</td>
                            <td>
                                    TAB
                            </td>
                        </tr>
                </tbody></table>
                    </div>
                    <div class="col-sm-offset-6">
                        <p style="text-align: justify">
                        You can run this tasks whit demo data.
                        <br>Start the task just clicking "Load example data" then the "Go >>" button! Enjoy
                        </p>
                    </div>
                  </div>
                  <a id="load-example" role="button" class="btn btn-go" >Load example data &gt;&gt;</a>
              </form>
            </div><!--/span-->


          </div><!--/row-->
        </div><!--/span-->
        {% include "navigation.html" %}
</div><!--/row-->
{% endblock container %}




