{% extends 'base.html' %}
{% load static %}
{% block extrahead %}
      <script type="text/javascript">
       jQuery(document).ready(function(){


       })
    </script>
{% endblock extrahead %}

{% block container %}
<div class="row row-offcanvas row-offcanvas-right">

<div class="col-md-12 col-md-9">
          <div class="row">
            <h1>Process status</h1>
            <div class="col-6">
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <p {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
            </div>
            {% endfor %}
            {% endif %}

                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title">Tasks information</h3>
                  </div>
                  <div class="panel-body">
                      Some default panel content here. Nulla vitae elit libero, a pharetra augue.
                      Aenean lacinia bibendum nulla sed consectetur. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
                      Nullam id dolor id nibh ultricies vehicula ut id elit.
                  </div>
                  <table class="table">
                      <tr>
                          <td><strong>UUID:</strong></td>
                          <td>{{ task.id }}</td>
                      </tr>
                      <tr>
                          <td><strong>Type:</strong></td>
                          <td>{{ runp.process_name }}</td>
                      </tr>
                      <tr>
                          {% if runp %}
                          <td><strong>Submited:</strong></td>
                          <td>
                              {{ runp.submited }}
                          </td>
                          {% endif %}
                      </tr>
                      <tr>
                          <td><strong>Status:</strong></td>
                          <td><span class="label {{ badge }}"><strong>{{ task.status }}</strong></span></td>
                      </tr>
                      <tr>
                          {% if task.status == 'RUNNING' %}
                              <td><strong>Actual action</strong></td>
                              <td>{{ task.info }}</td>
                          {% endif %}
                          {% if task.status == 'FAILURE' %}
                              <td><strong>Exception</strong></td>
                              <td>{{ task.info }}</td>
                          {% endif %}
                      </tr>
                      {% if task.status == 'SUCCESS' %}
                      <tr>
                          <td><strong>Action:</strong></td>
                          <td>
                              {% if download_btn %}
                              <a  href="{% url 'process_download_zip' runp.pk %}" class="btn btn-success btn-xs" role="button">
                                Download all files
                              </a>
                              {% endif %}
{#                              <a href="#" role="button" class="btn btn-default btn-xs" >#}
{#                                Select files to download#}
{#                              </a>#}
                          </td>
                      </tr>
                      <tr>
                          <td><strong>Note:</strong></td>
                          <td>
                                {% if tomanyresult %}
                                    Too many result
                                {% else %}
                                    No warning for process result.
                                {%  endif %}
                                {% for key, value in result.items %}
                                    {% if value.tomanyfile %}
                                        Too many file for {{ key }} result
                                    {% endif %}
                                {% endfor %}
                          </td>
                      </tr>
                      {% endif %}
                  </table>
                </div>


                {% if task.status == 'SUCCESS' %}
                <hr/>
                <h3>Result preview</h3>
                {% for key, value in result.items %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">{{ key }} analysis results. </h3>
                        </div>
                        <div class="panel-body">
                            <div class="btn-group">
                              <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                Download <span class="caret"></span>
                              </button>
                              <ul class="dropdown-menu" role="menu">
                                {% for d in value.csv_files %}
                                <li><a href="{% get_media_prefix %}{{ d }}">{{ key }} file <span class="badge">csv</span></a></li>
                                {% endfor %}
                              </ul>
                            </div>
                            {{ value.desc }}
                        </div>
{#                        Ciclo su tutte le tabelle dell'output             #}
                        {% for t in value.csv_tables  %}
                            <table class="table table-striped">
                            {% for rows in t.rowdata %}
                                {% if forloop.first %}
                                <thead>
                                    <tr>
                                    {% for r in rows %}
                                      <th>{{ r }}</th>
                                      {% if forloop.last and t.tomanycol %}
                                          <th><strong> ... </strong></th>
                                      {% endif %}
                                    {% endfor %}
                                    </tr>
                                </thead>
                                {% else %}
                                <tbody>
                                    <tr>
                                    {% for r in rows %}
                                       {% if forloop.first %}
                                          <td><strong>{{ r }}</strong></td>
                                       {% else %}
                                          <td>{{ r|floatformat:3 }}</td>
                                       {% endif %}
                                       {% if forloop.last and t.tomanycol %}
                                          <td><strong> ... </strong></td>
                                       {% endif %}
                                    {% endfor %}
                                    </tr>
                                {% endif %}
                                {% if forloop.last and t.tomanyrow %}
                                    <tr>
                                    {% for r in rows %}
                                          <td><strong> ... </strong></td>
                                    {% endfor %}
                                          <td><strong> ... </strong></td>
                                    </tr>
                                {% endif %}
                                </tbody>
                           {% endfor %}
                            </table>
                        {% endfor %}
                    </div>
                {% endfor %}
                {% endif %}


            </div><!--/span-->
          </div><!--/row-->
        </div><!--/span-->
        {% include "navigation.html" %}
      </div><!--/row-->
{% endblock container %}



