{% extends 'base.html' %}
{% load static %}
{% block extrahead %}
    <script type="application/javascript">
    {% if  runp.celery_task.status != 'SUCCESS' %}
        jQuery(document).ready(function(){
            setTimeout(function () {
               window.location.href = "{% url 'process_status' runp.task_id %}"; //will redirect to your blog page (an ex: blog.html)
            }, 5000);
        });
    {% endif %}
    </script>
{% endblock %}
{% block googleanalytics %}
{% endblock %}
{% block container %}

{#{% include 'engine/json_preview.html' %}#}

<div class="row row-offcanvas row-offcanvas-right">

<div class="col-md-12 col-md-9">
          <div class="row">
            <h1>Process status </h1>
            <div class="col-6">
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <p {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
            </div>
            {% endfor %}
            {% endif %}

                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title">Tasks information</h3>
                  </div>
{#                  <div class="panel-body">#}
{#                      This is a preview of the data. The whole table are available by clicking the "Full result" button#}
{#                  </div>#}
                  <table class="table">
                      <tr>
                        <td style="width: 150px;"><strong>UUID:</strong></td>
                          <td>{{ runp.task_id }}</td>
                      </tr>
                      <tr>
                          <td><strong>Type:</strong></td>
                          <td>{{ runp.process_name }}</td>
                      </tr>
                      <tr>
                          <td><strong>Selected params:</strong></td>
                          <td><ul class="list-inline">{{ runp.to_pretty_inputs|safe }}</ul></td>
                      </tr>
                      <tr>
                          {% if runp %}
                          <td><strong>Submitted:</strong></td>
                          <td>
                              {{ runp.submited }}
                          </td>
                          {% endif %}
                      </tr>
                      <tr>
                          <td><strong>Status:</strong></td>
                          <td>{{ runp.badge_status|safe }}</td>
                      </tr>
                      <tr>
                          {% if runp.celery_task.status == 'RUNNING' %}
                              <td><strong>Actual action:</strong></td>
                              <td>{{ runp.celery_task.status.info }}</td>
                          {% endif %}
                          {% if runp.celery_task.status == 'FAILURE' %}
                              <td><strong>Exception</strong></td>
                              <td>{{ runp.celery_task.info }}</td>
                          {% endif %}
                      </tr>
                      {% if runp.celery_task.status == 'SUCCESS' %}
                      <tr>
                          <td><strong>Action:</strong></td>
                          <td>
                              {% if download_btn %}
                              <a  href="{% url 'process_download_zip' runp.pk %}" class="btn btn-success btn-xs" role="button">
                                Download all files
                              </a>
                              {% endif %}
                          </td>
                      </tr>
                      {% endif %}
                  </table>
                </div>
            </div><!--/span-->
          </div><!--/row-->
        </div><!--/span-->
        {% include "navigation.html" %}
      </div><!--/row-->
{% endblock container %}



